body {
    font-family: sans-serif;
    width: 800px;
    margin: auto;
}
nav {
    background-color: black;
    color: white;
}
nav h1 {
    display: inline-block;
    padding: 10px;
    margin: 0;
}
nav a {
    color: white;
    padding: 10px;
}
main {
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
    color: black;
}

/* <= 800px */
@media (max-width: 800px) {
    body {
        width: auto;
    }
}